.page3 {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 7rem 0;
  &__title {
    text-transform: uppercase;
    font-family: $font-fraunces;
    letter-spacing: 0.2rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: $grayish-blue;
  }
  @media screen and (min-width: 56.25rem) {
    height: 100vh;
  }
}

.testimonials {
  @media screen and (min-width: 56.25rem) {
    display: flex;
    justify-content: center;
  }
}

.testimonial {
  padding: 2rem 0.5rem;
  @media screen and (min-width: 56.25rem) {
    float: left;
    width: 25%;
  }

  &__image {
    border-radius: 50%;
    height: 4rem;
    @media screen and (min-width: 56.25rem) {
      width: 30%;
      height: auto;
      margin-bottom: 3rem;
    }
  }

  &__text {
    color: $very-dark-grayish-blue;
    line-height: 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.25vw;
      margin-bottom: 5rem;
    }
  }

  &__name {
    font-family: $font-fraunces;
    font-weight: 900;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.25vw;
    }
  }

  &__position {
    color: $grayish-blue;
    @media screen and (min-width: 56.25rem) {
      font-size: 1vw;
    }
  }
}
