$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

$font-size: 1.125rem;
$font-family: "Epilogue", sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;

html,
body {
  background-color: $almost-white;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

.topnav {
  display: block;
  box-sizing: border-box;
  background-color: $almost-white;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  z-index: 1;

  &__logo {
    float: left;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin: 1rem 1rem;
    vertical-align: baseline;
  }

  a {
    color: $medium-gray;
    text-align: center;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;

    &:hover {
      font-weight: bold;
    }
  }

  &__left-item {
    float: left;
  }
  &__right-item {
    float: right;
  }
  &__features-dropdown-content {
    background-color: $almost-white;
    position: absolute;
    left: 6.25rem;
    margin-top: 2rem;
    padding: 1.825rem;
    display: none;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 1rem $medium-gray;
    list-style: none;
    text-align: left;
    row-gap: 0.625rem;
  }
  &__features-dropdown-content a {
    text-decoration: none;
    color: $almost-black;
  }
  &__icon {
    margin-right: 1.25rem;
  }

  &__company-dropdown-content {
    display: none;
    background-color: $almost-white;
    position: absolute;
    left: 21rem;
    margin-top: 2rem;
    padding: 1.875rem;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 1rem $medium-gray;
    list-style: none;
    text-align: left;
    row-gap: 0.625rem;
  }

  &__register-button {
    border: solid;
    border-radius: 0.75rem;
    margin-right: 2rem;

    &:hover {
      border-width: 0.125rem;
    }
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 50%;
  box-sizing: border-box;
  max-height: 100%;
  padding: 8rem 6rem 0;

  &__title {
    font-size: 5rem;
    font-weight: $font-weight-bold;
    line-height: 5rem;
  }

  &__description {
    font-size: 1.25rem;
    color: $medium-gray;
    margin-top: 3rem;
  }

  &__learn-more-button {
    background-color: $almost-black;
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;

    &:hover {
      background-color: $almost-white;
      color: $almost-black;
    }
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
  }

  &__clients img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.hero {
  max-width: 40%;
  box-sizing: border-box;
  max-height: 100%;
  padding: 3rem;

  &__desktop {
    max-width: 100%;
    object-fit: fill;
    height: auto;
  }

  &__mobile {
    display: none;
  }
}

.hamburger-icon {
  display: none;
}

.sidenav {
  display: none;
}

@media screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }
  .topnav {
    a:not(:first-child) {
      display: none; //Keep only the logo in top nav
    }
  }

  .hamburger-icon {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 2;
  }
  .sidenav {
    height: 100%;
    display: block;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $almost-white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    &__item {
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      text-decoration: none;
      font-size: 1.125rem;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    &__closebtn {
      display: block;
      position: absolute;
      top: 0;
      right: 1rem;
      z-index: 9999;
      font-size: 5rem;
      text-decoration: none;
      color: black;
    }

    &__left-aligned-options {
      margin-top: 5rem;
    }

    &__features-dropdown-content {
      display: none;
      list-style: none;
    }

    &__features-dropdown-content li {
      margin-bottom: 1.25rem;
    }

    &__features-dropdown-content a {
      text-decoration: none;
      color: $medium-gray;
    }

    &__icon {
      margin-right: 0.75rem;
    }

    &__company-dropdown-content {
      list-style: none;
      display: none;
    }

    &__company-dropdown-content li {
      margin-bottom: 0.625rem;
    }

    &__company-dropdown-content a {
      text-decoration: none;
      color: $medium-gray;
    }

    &__center-aligned-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__center-aligned-options a {
      font-size: 1.25rem;
      padding: 0.625rem;
      text-decoration: none;
      color: $medium-gray;
    }

    &__register-button {
      padding: 0.625rem 3.5rem !important;
      border: 0.125rem solid $almost-black;
      border-radius: 0.75rem;
    }
  }
  /* Content start */
  .main-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: max-content;
  }

  .left-content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 6rem 1rem;

    &__title {
      font-size: 2.125rem;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.75rem;
      color: $medium-gray;
      margin: 0 0 1rem;
    }

    &__learn-more-button {
      background-color: $almost-black;
      color: $almost-white;
      font-size: 1rem;
      padding: 0.9rem 1.5rem;
      border-radius: 1rem;
      margin-top: 0rem;
      margin-bottom: 3rem;
    }
    &__clients {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1rem;
    }
    &__client {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      padding: 1rem;
    }
  }

  .hero {
    position: relative;
    max-width: 100%;
    top: 4rem;
    left: 0;
    padding: 0;

    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
