@import "style";

h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog {
  width: 100vw;
}

.blog-post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 60vh;
  width: 100%;

  @media screen and (min-width: 56.25rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  picture {
    width: 100%;
    height: 100%;
    display: flex;

    @media screen and (min-width: 56.25rem) {
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 1.75rem;
    text-align: center;

    @media screen and (min-width: 56.25rem) {
      padding: 9rem 7.5rem 9rem 10rem;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
    }

    &--alt {
      order: 1;
      @media screen and (min-width: 56.25rem) {
        order: -1;
      }
    }
  }

  &__title {
    color: $very-dark-desaturated-blue;
    font-size: 2rem;
    font-family: $font-fraunces;
    font-weight: 900;
    @media screen and (min-width: 56.25rem) {
      font-size: 3.325vw;
    }
  }

  &__description {
    color: $dark-grayish-blue;
    font-size: 1.0625rem;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 2.75rem;
    margin-bottom: 3rem;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.2vw;
    }
  }
}

.learn-more {
  position: relative;
  color: $very-dark-desaturated-blue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-family: $font-fraunces;
  font-weight: 700;
  cursor: pointer;

  @media screen and (min-width: 56.25rem) {
    font-size: 1vw;
  }

  &--yellow::after {
    background-color: $yellow;
  }

  &--pink::after {
    background-color: $soft-red;
  }

  &::after {
    content: "";
    height: 0.5rem;
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.05rem;
    z-index: -1;
    opacity: 0.4;
    padding: 0 0.25rem;
    border-radius: 1rem;
  }
  &:hover::after {
    opacity: 1;
  }
}
