@import "style";

.footer {
  width: 100vw;
  height: 45vh;
  box-sizing: border-box;
  padding: 4rem 2rem;
  text-align: center;
  background-color: $footer-background;

  @media screen and (min-width: 56.25rem) {
    padding: 5rem;
  }

  &__logo {
    filter: brightness(0) saturate(100%) invert(50%) sepia(8%) saturate(2284%)
      hue-rotate(118deg) brightness(96%) contrast(80%);
    width: 50%;
    height: auto;

    @media screen and (min-width: 56.25rem) {
      width: 15%;
    }
  }

  &__nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    @media screen and (min-width: 56.25rem) {
      width: 25%;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark-moderate-cyan;
    font-size: 1.125rem;
  }

  &__socials {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    @media screen and (min-width: 56.25rem) {
      width: 12.5%;
    }
  }
}
