@import "style";

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;

  @media screen and (min-width: 56.25rem) {
    height: 100vh;
  }

  &__topnav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  &__logo {
    align-self: flex-start;
    background-color: none;
    border: none;
    margin: 2rem 0 0 1rem;
    cursor: pointer;
  }

  &__hamburger-icon {
    margin: 2rem 1rem 0 auto;
    @media screen and (min-width: 56.25rem) {
      display: none;
    }
  }

  &__topnav-links {
    display: none;
    justify-content: flex-end;
    margin: 2rem 2rem 0 0;
    @media screen and (min-width: 56.25rem) {
      display: flex;
    }
  }
  &__topnav-link {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    color: $white;
  }

  &__topnav-contact-link {
    background-color: $white;
    color: $dark-desaturated-cyan;
    border-radius: 2rem;
    &:hover {
      background-color: $light-blue;
      color: $white;
    }
  }

  &__menu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 90%;
    background-color: $white;
    text-align: center;
    list-style: none;
    padding: 1rem 0;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -1rem;
      width: 0;
      height: 0;
      border-bottom: 1rem solid transparent;
      border-left: 1rem solid transparent;
      border-bottom: 1rem solid $white;
    }
  }
  &__menu-link {
    display: inline-block;
    text-decoration: none;
    color: $dark-grayish-blue;
    margin: 1rem;
  }
  &__contact-link {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    background-color: $yellow;
    color: $very-dark-desaturated-blue;
  }

  &__bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    text-align: center;
    color: $white;
    font-weight: 700;
    font-family: $font-fraunces;
  }

  &__arrow-down {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @media screen and (min-width: 66.9rem) {
      top: 40%;
    }
  }
}
