@import "style";

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
  z-index: 1;
  padding: 2rem 1.5rem;

  @media screen and (min-width: 56.25rem) {
    padding: 3.125rem 2.5rem;
  }

  &__logo {
    background-color: none;
    border: none;
    cursor: pointer;
  }

  &__nav {
    display: none;
    @media screen and (min-width: 56.25rem) {
      display: flex;
    }
  }

  &__nav-link {
    text-decoration: none;
    margin-left: 1.75rem;
    padding: 1.25rem 1.75rem;
    color: $white;

    &--contact {
      background-color: $white;
      color: $dark-desaturated-cyan;
      border-radius: 2rem;
      &:hover {
        background-color: $light-blue;
        color: $white;
      }
    }
  }

  &__hamburger-icon {
    display: block;
    @media screen and (min-width: 56.25rem) {
      display: none;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    width: 90%;
    background-color: $white;
    text-align: center;
    list-style: none;
    padding: 1rem 0;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -1rem;
      width: 0;
      height: 0;
      border-bottom: 1rem solid transparent;
      border-left: 1rem solid transparent;
      border-bottom: 1rem solid $white;
    }
  }
  &__menu-link {
    display: inline-block;
    text-decoration: none;
    color: $dark-grayish-blue;
    margin: 1rem;

    &--contact-link {
      padding: 1rem 1.5rem;
      border-radius: 1.5rem;
      background-color: $yellow;
      color: $very-dark-desaturated-blue;
    }
  }
}
