@import "style";

.services {
  width: 100vw;
  height: 160vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh 80vh;

  @media screen and (min-width: 56.25rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh;
    height: 75vh;
  }
}

.service-card {
  position: relative;
  text-align: center;

  picture {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__text {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;

    @media screen and (min-width: 56.25rem) {
      width: 50%;
    }
  }

  &__title {
    color: $dark-desaturated-cyan;
    font-size: 2rem;
    font-family: $font-fraunces;
    font-weight: 700;
    margin-bottom: 2rem;
    @media screen and (min-width: 56.25rem) {
      font-size: 2vw;
    }
  }

  &__description {
    color: $dark-desaturated-cyan;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.2vw;
    }
  }
}
