@import "style";

.testimonials {
  width: 100vw;
  height: 160vh;
  padding: 4.125rem 2.125rem;
  text-align: center;

  @media screen and (min-width: 56.25rem) {
    padding: 10rem 5rem;
    margin: auto;
    height: 100vh;
  }
  &__title {
    text-transform: uppercase;
    font-family: $font-fraunces;
    letter-spacing: 0.2rem;
    font-size: 5vw;
    font-weight: 700;
    color: $grayish-blue;
    margin-bottom: 4rem;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.75vw;
      letter-spacing: 0.25rem;
      margin-bottom: 3rem;
    }
  }
}

.testimonial-wrapper {
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr;
  grid-template-rows: 33.333%;

  @media screen and (min-width: 56.25rem) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.testimonial {
  @media screen and (min-width: 56.25rem) {
    padding: 2rem 0.675rem;
  }

  &__image {
    border-radius: 50%;
    width: 4rem;
    height: auto;
    margin-bottom: 2rem;
    @media screen and (min-width: 56.25rem) {
      margin-bottom: 3.5rem;
    }
  }

  &__text {
    color: $very-dark-grayish-blue;
    line-height: 2;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 56.25rem) {
      margin-bottom: 4.5rem;
    }

    @media screen and (min-width: 56.25rem) {
      font-size: 1.325vw;
    }
  }

  &__name {
    font-family: $font-fraunces;
    font-weight: 900;
    font-size: 1rem;
    @media screen and (min-width: 56.25rem) {
      font-size: 1.25rem;
    }
  }

  &__job-title {
    color: $grayish-blue;
  }
}
