$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
$very-dark-blue: hsl(218, 23%, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  width: 100vw;
  height: 100vh;
}

.card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 34rem;
  text-align: center;
  box-shadow: 0 1rem 1rem 0rem rgba($very-dark-blue, 0.1);

  @media screen and (min-width: 40rem) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    position: relative;
    padding: 2.5rem 1.25rem;
    border-radius: 0.625rem;
    background-color: $dark-grayish-blue;
    text-align: center;

    @media screen and (min-width: 40rem) {
      padding: 3rem;
    }
  }

  &__eyebrow {
    color: $neon-green;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    font-size: 0.75rem;
    margin-bottom: 2rem;
  }

  &__advice-text {
    font-size: 1.75rem;
    color: $light-cyan;

    @media screen {
      font-size: 1.25rem;
    }
  }

  &__mobile-divider {
    display: block;
    width: 100%;
    margin: 3rem 0;
  }

  &__desktop-divider {
    display: none;
  }

  @media screen and (min-width: 600px) {
    &__mobile-divider {
      display: none;
    }

    &__desktop-divider {
      display: block;
      width: 100%;
      margin: 3rem 0;
    }
  }

  &__button {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    padding: 0;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 1rem hsl(150, 100%, 66%);
    }

    &-image {
      padding: 1.25rem;
    }
  }
}
