.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}
@media screen and (min-width: 56.25rem) {
  .header {
    height: 100vh;
  }
}
.header__topnav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.header__logo {
  align-self: flex-start;
  background-color: none;
  border: none;
  margin: 2rem 0 0 1rem;
  cursor: pointer;
}
.header__hamburger-icon {
  margin: 2rem 1rem 0 auto;
}
@media screen and (min-width: 56.25rem) {
  .header__hamburger-icon {
    display: none;
  }
}
.header__topnav-links {
  display: none;
  justify-content: flex-end;
  margin: 2rem 2rem 0 0;
}
@media screen and (min-width: 56.25rem) {
  .header__topnav-links {
    display: flex;
  }
}
.header__topnav-link {
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  color: hsl(0deg, 0%, 100%);
}
.header__topnav-contact-link {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(167deg, 40%, 24%);
  border-radius: 2rem;
}
.header__topnav-contact-link:hover {
  background-color: rgb(111, 207, 255);
  color: hsl(0deg, 0%, 100%);
}
.header__menu {
  display: none;
  z-index: 2;
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 90%;
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  list-style: none;
  padding: 1rem 0;
}
.header__menu::before {
  content: "";
  position: absolute;
  right: 0;
  top: -1rem;
  width: 0;
  height: 0;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid hsl(0deg, 0%, 100%);
}
.header__menu-link {
  display: inline-block;
  text-decoration: none;
  color: hsl(232deg, 10%, 55%);
  margin: 1rem;
}
.header__contact-link {
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: hsl(51deg, 100%, 49%);
  color: hsl(212deg, 27%, 19%);
}
.header__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.header__arrow-down {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media screen and (min-width: 66.9rem) {
  .header__arrow-down {
    top: 40%;
  }
}

.page1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 56.25rem) {
  .page1 {
    height: 75vh;
  }
}
.page1__bg-image {
  position: absolute;
  width: 100%;
  height: 40%;
  object-fit: cover;
}
@media screen and (min-width: 56.25rem) {
  .page1__bg-image {
    width: 50%;
    height: 100%;
    left: 0%;
  }
}
@media screen and (min-width: 56.25rem) {
  .page1__bg-image--right {
    left: 50%;
  }
}
.page1__text-content {
  box-sizing: border-box;
  margin: 1.5rem;
  position: absolute;
  top: 40%;
  text-align: center;
}
@media screen and (min-width: 56.25rem) {
  .page1__text-content {
    width: 50%;
    height: 100%;
    top: 0;
    text-align: left;
    padding: 9rem 7rem 9rem 9rem;
    margin: 0;
  }
}
@media screen and (min-width: 56.25rem) {
  .page1__text-content-right {
    left: 50%;
  }
}
.page1__title {
  color: hsl(212deg, 27%, 19%);
  top: 45%;
  left: 50%;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@media screen and (min-width: 56.25rem) {
  .page1__title {
    padding: 0;
    margin: 0;
    font-size: 3.325vw;
  }
}
.page1__description {
  color: hsl(232deg, 10%, 55%);
  top: 65%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (min-width: 56.25rem) {
  .page1__description {
    font-size: 1.25vw;
  }
}

.learn-more-yellow {
  position: relative;
  color: hsl(212deg, 27%, 19%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  cursor: pointer;
}
.learn-more-yellow::after {
  content: "";
  background-color: hsl(51deg, 100%, 49%);
  height: 0.5rem;
  display: block;
  position: absolute;
  width: 100%;
  left: -0.25rem;
  bottom: -0.05rem;
  z-index: -1;
  opacity: 0.4;
  padding: 0 0.25rem;
  border-radius: 1rem;
}
.learn-more-yellow:hover::after {
  opacity: 1;
}

.learn-more-pink {
  position: relative;
  color: hsl(212deg, 27%, 19%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  cursor: pointer;
}
.learn-more-pink::after {
  content: "";
  background-color: hsl(7deg, 99%, 70%);
  height: 0.5rem;
  display: block;
  position: absolute;
  width: 100%;
  left: -0.25rem;
  bottom: -0.05rem;
  z-index: -1;
  opacity: 0.4;
  padding: 0 0.25rem;
  border-radius: 1rem;
}
.learn-more-pink:hover::after {
  opacity: 1;
}

.page2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 180vh;
}
@media screen and (min-width: 56.25rem) {
  .page2 {
    height: 75vh;
  }
}
.page2__graphic-bg-image {
  position: absolute;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
@media screen and (min-width: 56.25rem) {
  .page2__graphic-bg-image {
    width: 50%;
    height: 100%;
  }
}
.page2__graphic-text-content {
  position: absolute;
  margin: 1.25rem;
  top: 30%;
  text-align: center;
}
@media screen and (min-width: 56.25rem) {
  .page2__graphic-text-content {
    top: 60%;
    width: 25%;
    left: 11%;
  }
}
.page2__photography-bg-image {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
@media screen and (min-width: 56.25rem) {
  .page2__photography-bg-image {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
  }
}
.page2__photography-text-content {
  position: absolute;
  margin: 1.25rem;
  width: 90%;
  top: 80%;
  text-align: center;
}
@media screen and (min-width: 56.25rem) {
  .page2__photography-text-content {
    top: 60%;
    width: 25%;
    left: 61%;
  }
}
.page2__title {
  color: hsl(167deg, 40%, 24%);
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}
@media screen and (min-width: 56.25rem) {
  .page2__title {
    font-size: 2vw;
  }
}
.page2__description {
  color: hsl(167deg, 40%, 24%);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (min-width: 56.25rem) {
  .page2__description {
    font-size: 1.2vw;
  }
}

.page3 {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 7rem 0;
}
.page3__title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 0.2rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(210deg, 4%, 67%);
}
@media screen and (min-width: 56.25rem) {
  .page3 {
    height: 100vh;
  }
}

@media screen and (min-width: 56.25rem) {
  .testimonials {
    display: flex;
    justify-content: center;
  }
}

.testimonial {
  padding: 2rem 0.5rem;
}
@media screen and (min-width: 56.25rem) {
  .testimonial {
    float: left;
    width: 25%;
  }
}
.testimonial__image {
  border-radius: 50%;
  height: 4rem;
}
@media screen and (min-width: 56.25rem) {
  .testimonial__image {
    width: 30%;
    height: auto;
    margin-bottom: 3rem;
  }
}
.testimonial__text {
  color: hsl(213deg, 9%, 39%);
  line-height: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
}
@media screen and (min-width: 56.25rem) {
  .testimonial__text {
    font-size: 1.25vw;
    margin-bottom: 5rem;
  }
}
.testimonial__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@media screen and (min-width: 56.25rem) {
  .testimonial__name {
    font-size: 1.25vw;
  }
}
.testimonial__position {
  color: hsl(210deg, 4%, 67%);
}
@media screen and (min-width: 56.25rem) {
  .testimonial__position {
    font-size: 1vw;
  }
}

.page4 {
  width: 100%;
  height: 120vh;
  text-align: center;
}
@media screen and (min-width: 56.25rem) {
  .page4 {
    position: relative;
    height: 100vh;
  }
}

.gallery {
  height: 55%;
  display: flex;
  flex-wrap: wrap;
}
.gallery picture {
  width: 50%;
  height: 50%;
  display: flex;
}
@media screen and (min-width: 56.25rem) {
  .gallery picture {
    width: 25%;
    height: 100%;
  }
}
.gallery__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 45%;
  background-color: rgb(144, 212, 197);
  padding-top: 4rem;
}
.contact__logo {
  filter: brightness(0) saturate(100%) invert(50%) sepia(8%) saturate(2284%) hue-rotate(118deg) brightness(96%) contrast(80%);
  width: 50%;
  height: auto;
}
@media screen and (min-width: 56.25rem) {
  .contact__logo {
    width: 15%;
  }
}
.contact__links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
@media screen and (min-width: 56.25rem) {
  .contact__links {
    width: 20%;
  }
}
.contact__link {
  text-decoration: none;
  color: hsl(168deg, 34%, 41%);
  font-size: 1.125rem;
}
.contact__social-media {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 56.25rem) {
  .contact__social-media {
    width: 15%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

/*# sourceMappingURL=main.css.map */
