html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.page-content {
    max-width: 90%;
    margin: auto;
}

.nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-nav {
    display: flex;
    align-items: center;
}

.left-nav a{
    float:left;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:hsl(220, 14%, 75%);

}
.right-nav {
    display: flex;
    align-items: center;
}

.right-nav a{
    padding: 14px 16px;
}

.right-nav #profile {
    height:auto;
    width: 40px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid hsl(220, 14%, 75%);
}

.product-container {
    float: left;
    width: 50%;
    height: auto;
}

.product-container .spotlight {
    width: 50%;
    padding-left: 80px;
    margin: 30px auto;
}

.product-container .spotlight img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-container .thumbnails {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 80px;
    margin: 30px auto;
}
.product-container .thumbnails img {
    max-width: 20%;
    border-radius: 10px;
    cursor:pointer;
}

.product-container .thumbnails img:hover {
    opacity: 0.5;
}

.text-content-container {
    float:right;
    width: 50%;
}

.text-content {
    padding: 50px;
    width: 50%;
}

.text-content h2 {
    color: hsl(26, 100%, 55%);
    font-size: 18px;
}

.text-content p {
    color:hsl(220, 14%, 75%);
}

.text-content .sale-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-content .sale-price {
    font-weight: 800;
    font-size: 25px;
    margin-right: 20px;
}

.text-content .sale-percentage {
    background-color: hsl(25, 100%, 94%);
    padding: 2px 5px;
    color:hsl(26, 100%, 55%);
    font-weight: 800;
    border-radius: 7px;
}

.text-content .original-price {
    text-decoration: line-through;
    color:hsl(220, 14%, 75%);
    margin-bottom: 20px;
}

.text-content .item-cart-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-content .quantity-picker {
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    
}

.text-content .quantity-picker .minus {
    cursor: pointer;
    background-color: hsl(223, 64%, 98%);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text-content .quantity-picker .plus {
    cursor: pointer;
    background-color: hsl(223, 64%, 98%);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    user-select: none;
    margin-right: 10px;
}


.text-content .quantity-picker .num-items {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: hsl(223, 64%, 98%);
    appearance: none;
    outline: 0;
    color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.text-content .item-cart-container .add-to-cart {
    background-color: hsl(26, 100%, 55%);
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(112%) contrast(101%);
    margin-right: 10px;
}

.text-content .item-cart-container .add-to-cart:hover {
    opacity: 0.5;
}