@import "assets/style";
@import "assets/header";
@import "assets/hero";
@import "assets/blog";
@import "assets/services";
@import "assets/testimonials";
@import "assets/gallery";
@import "assets/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-barlow;
}
